html
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="../login.css")
		script(src="https://unpkg.com/axios/dist/axios.min.js")
	body
		div.login-header
			h2 Thư viện sách
		div.login-content
			div.login-phan1 
				div Niên luận cơ sở
				div Vi Van Dat
			div.login-phan2
				form(class="form" action="" method="post")
					h3.text-center.text-info Đăng nhập
					br
					br
					if errors
							each err in errors
								.alert.alert-danger= err
					div.form-group
						label.text-info(for='username') Username:
						br
						input#username.form-control(type='email', name='email' value=values ? values.email : '')
					div.form-group
						label.text-info(for='password') Password:
						br
						input#password.form-control(type='password', name='pass' value=values ? values.pass : '')
					input.btn.btn-info.btn-md(type='submit', name='submit', value='Đăng nhập')
					div#register-link.text-right
						a.text-info(href='/auth/register') Register here