
@media screen and (min-width: 960px) {
	body{
		width: 1200px;
		margin: auto;
		background-color: #ddd;
		font-family: Arial, sans-serif;
		font-size: 18px;
	}

	.common-header{
		height: 120px;
		background-color: #17a2b8;
		border-bottom: 1px solid black;
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.common-phan1{
		width: 85%;
	}
	.common-phan2{
		padding-top: 30px;
		display: flex;
		flex-direction: row;
		color: #ddd;
	}
	.logout {
		padding-left: 20px; 
		color: #efd072;
		margin-top: 5px;
	}
	/* nav_bar */
	.nav-menu {
		width: 100%;
		background-color: #fff;
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
	}
	.nav-menu ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  background-color: #edb9b9;
	  display: flex;
	  flex-direction: row;
	  height: 50px;
	}

	.nav-menu  li a {
	  display: block;
	  color: #000;
	  text-decoration: none;
	  height: 100%;
	}

	/* Change the link color on hover */
	.nav-menu  li a:hover {
	  background-color: #555;
	  color: white;
	}
	/*footer sinhvien */
	.footer-sinhvien{
		height: 150px;
		background-color: #e7f2d1;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
}