@media screen and (min-width: 960px) {
	.content-lienhe {
		height: 110%;
		background-color: #eee;
		padding: 15px;
	}
	.diachi {
		background-color: #fff
	}
	#map {
		width: 1000px;
		height: 500px;
		padding: 20px;
	}
	h3 {
		color: #116f1d;
	}
}