@media screen and (min-width: 960px) {

	.muonsach-content{
		display: flex;
		flex-direction: row;
		height: 100%;
		background-color: #eee;
	}
	.muonsach-phan1{
		width: 40%;
		padding: 15px;
	}
	.muonsach1{
		background-color: #f8f9fa;
		height: 90%;
		padding: 10px;
	}
	.display-content{
		width: 100%;
		height: 400px;
		background-color: #69c4d24d;
	}
	.muonsach-phan2{
		width: 70%;
		padding: 15px;
	}
	.muonsach2{
		background-color: #f8f9fa;
		height: 90%;
		padding: 10px;
	}
	#table-content2{
		height: 60%;
		overflow-y: scroll;
	}
}