@media screen and (min-width: 960px) {
	.sach-content {
		display: flex;
		flex-direction: row;
		background-color: #eee;
		height: 90%;
	}
	.sach-phan1 {
		padding: 15px;
		width: 70%;
	}
	.sach-phan2 {
		padding: 15px;
		width: 30%;

	}
	.table-content1{
		height: 70%;
		overflow-y: scroll; 
	}
	.sach-content1 {
		background-color: #fff;
		height: 100%;
	}
	.sach-content2 {
		background-color: #fff;
		height: 100%;
		padding: 30px;
		padding-top: 50px;
	}
	.footer-lienhe{
		text-align: center;
	}
}