@media screen and (min-width: 960px) {
	.content-footer-sach{
		background-color: #eee;
		height: 120%;
	}
	.sach-content {
		display: flex;
		flex-direction: row;
		background-color: #eee;
		height: 90%;
	}
	.sach-phan1 {
		padding-right: 15px;
		width: 65%;
	}
	.sach-phan2 {
		
		width: 35%;

	}
	.sach-content1 {
		background-color: #fff;
		height: 100%;
	}
	.sach-content2 {
		background-color: #fff;
		height: 100%;
		padding-top: 50px;
		padding: 5px;
	}
	.display-sach-sinhvien{
		overflow-y: scroll;
		height: 70%;
	}
}