extends ./sinhvien_nav
block content
	.content-lienhe
		.diachi
			h3 Quản lí thư viện
			<div class="article-content">
			<p>
				<span style="text-decoration: underline;"><b><span style="font-family: times new roman,times; font-size: 12pt;"><span>Ph&oacute; Gi&aacute;m đốc phụ tr&aacute;ch khối phục vụ bạn đọc</span></span></b></span></p>
			<ul>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>&Ocirc;ng <i><b>Nguyễn Xu&acirc;n Dũng</b></i>: Ph&oacute; Gi&aacute;m đốc</span></span></li>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>Điện thoại: 024.39363620</span></span></li>
			</ul>
			<p>
				<span style="font-family: times new roman,times; font-size: 12pt;"><span style="text-decoration: underline;"><b><span>Ph&ograve;ng Đọc s&aacute;ch + bộ phận l&agrave;m thẻ</span></b></span></span></p>
			<ul>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>B&agrave; <strong><em>Trần Phương Lan</em></strong>: Trưởng ph&ograve;ng&nbsp;</span></span></li>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>Điện thoại: 024.39386137</span></span></li>
			</ul>
			<p>
				<span style="font-family: times new roman,times; font-size: 12pt;"><span style="text-decoration: underline;"><b><span>Ph&ograve;ng B&aacute;o &ndash; Tạp ch&iacute;</span></b></span></span></p>
			<ul>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>&Ocirc;ng <strong><em>Do&atilde;n Anh Đức</em></strong>: Trưởng ph&ograve;ng</span></span></li>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span><span style="font-family: times new roman,times; font-size: 12pt;"><span>Điện thoại: </span></span>024.39386136</span></span></li>
			</ul>
			<p>
				<span style="font-family: times new roman,times; font-size: 12pt;"><span style="text-decoration: underline;"><b><span>Ph&ograve;ng Th&ocirc;ng tin tư liệu</span></b></span></span></p>
			<ul>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>&Ocirc;ng <b><i>Đỗ C&ocirc;ng Lừng</i></b>: Trưởng ph&ograve;ng</span></span></li>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>Điện thoại: 024.38254927</span></span></li>
			</ul>
			<p>
				<span style="font-family: times new roman,times; font-size: 12pt;"><span style="text-decoration: underline;"><b><span>Ph&ograve;ng Tin học (Ph&ograve;ng Đa phương tiện, Số h&oacute;a t&agrave;i liệu)</span></b></span></span></p>
			<ul>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>&Ocirc;ng <i><b>L&ecirc; Đức Thắng</b></i>: Trưởng ph&ograve;ng</span></span></li>
				<li>
					<span style="font-family: times new roman,times; font-size: 12pt;"><span>Điện thoại: 024.38255419</span></span></li>
			</ul>
			<div align="center"> ___________________</div>
			<ul>
			</ul>
			h3 Bản đồ thư viện sách
					<div id="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.841518408634!2d105.769013!3d10.03083992830687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zxJDhuqFpIGjhu41jIEPhuqduIFRoxqE!5e0!3m2!1svi!2s!4v1615778058589!5m2!1svi!2s" width="100%" height="100%" "allowfullscreen="" loading="lazy"></iframe>
					</div>
		.footer-lienhe
			div Trường Đại học Cần Thơ (Can Tho University)
			div Khu II, đường 3/2, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ.
			div Điện thoại: (84-292) 3832663 - (84-292) 3838474; Fax: (84-292) 3838474; Email: dhct@ctu.edu.vn.
	script
		include ../code/sinhvien.lienhe.js
	<!--<h3>Thư viện sách trực tuyến</h3>
	<div>Nhằm tăng cường tính chủ động cho các bạn đọc và thay thế việc tìm đến các thư viện sách theo cách truyền thống mất thời gian và không đạt hiệu quả. Thư viện sách trực tuyến giúp các bạn đọc trả cứu thông tin sách một cách thông minh. Hơn thế chúng ta còn có thể đăng ký mượn những quyển sách yêu thích trực tuyến và đi đến thư viện để nhận những quyển sách mà chúng ta đã đăng ký mượn ( chúng ta cần có mã thành viên để xác nhận)</div>-->