extends ./sinhvien_nav
block content
	.content-footer-sach
		div.sach-content
			div.sach-phan1
				div.sach-content1.p-2
					h2 Danh mục sách
					input#timkiem-content(type='text' placeholder='Tìm kiếm theo tên sách')
					button.m-2.btn-info#btn-timkiem Tìm kiếm
					br
					br
					div.display-sach-sinhvien#table-content2
						table.table.table-bordered
							tr
								th STT
								th Tên sách
								th Tác giả
								th Hình ảnh
								th Số lượng
								th Mượn sách
							- var i = 1
							if danhmucsach
								each dms in danhmucsach
									tr
										td= i++
										td= dms.tensach
										td= dms.tacgia
										td
											div(class='modalImg')
												div.modal-content-img.container.animate
													if dms.hinhanh
														img(src='../sachImg/'+dms.hinhanh width="400" height='590px')
											button#xemImg.btn.link(data-stt = i) Xem
										td= dms.soluong - dms.soluongMuon
										td
											button.btn(id='muon' data-idsach= dms.idsach) Thêm
			div.sach-phan2
				div.sach-content2
						br
						h3.text-center.text-info Phiếu mượn sách
						br
						br
						div#table-phieumuon
						if danhsachduyet  == 1
							div Yêu cầu đã được gửi đi. Vui lòng đến thư viện xác nhận để nhận sách.
							button.btn.btn-info(id='muonsach' value = danhsachduyet) Hoàn Tác
						if danhsachduyet  != 1
							button.btn.btn-info(id='muonsach' value = danhsachduyet) Mượn sách
	script
		include ../code/sinhvien.sach.js