extends ./common
block header
	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		a.navbar-brand(href='/sinhvien/home') Trang chủ
		#navbarNav.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item
					a.nav-link(href='/sinhvien/sach') Danh mục sách
				li.nav-item
					a.nav-link(href='#') Giới thiệu
	block content