extends ./common
block header
	.nav-menu
		ul
			li#nav-home
				a.nav-link(href='/sinhvien/home') Trang chủ
			li#nav-sach
				a.nav-link(href='/sinhvien/sach') Danh mục sách
			li#nav-trogiup
				a.nav-link(href='/trogiup/thutuc') Trợ giúp
			li#nav-lienhe
				a.nav-link(href='/sinhvien/lienhe') Liên Hệ
	block content