extends ./sinhvien_nav
block content
	.content-trogiup
		h3 
			<p style="text-align: center;"><span style="font-size: 12pt; font-family: times new roman,times;"><span><span><span style="font: 7pt 'Times New Roman';"></span></span></span><span><span style="text-decoration: underline; color: #800000;"><span style="text-decoration: underline;"><strong><span style="font-size: 20px;">THƯ VIỆN SÁCH XIN THÔNG BÁO LỊCH PHỤC VỤ</span></strong></span></span><br /></span></span></p>
			<p><span style="font-size: 12pt; font-family: times new roman,times;"><span> * Mở cửa từ 8.00 – 20.00, từ Thứ 2 – Chủ nhật</span></span></p>
			<p><span style="font-size: 12pt; font-family: times new roman,times;"><span>* Nghỉ ngày lễ quốc gia:</span></span></p>
			<ul>
			<li><span style="font-size: 12pt; font-family: times new roman,times;"><span><b><i>Tết Dương Lịch (1/1)</i></b></span></span></li>
			<li><span style="font-size: 12pt; font-family: times new roman,times;"><span><b><i>Ngày Giỗ tổ Hùng Vương (10-3 Âm lịch)</i></b></span></span></li>
			<li><span style="font-size: 12pt; font-family: times new roman,times;"><span><b><i>Ngày Giải phòng miền Nam (30-4)</i></b></span></span></li>
			<li><span style="font-size: 12pt; font-family: times new roman,times;"><span><b><i>Ngày Quốc tế Lao động (1-5)</i></b></span></span></li>
			<li><span style="font-size: 12pt; font-family: times new roman,times;"><span><b><i>Ngày Quốc Khánh (2-9)</i></b></span></span></li>
			<li><span style="font-size: 12pt; font-family: times new roman,times;"><span><b><i>Ngày Tết Âm lịch</i></b></span></span></li>
			</ul>
			<p><span style="font-size: 12pt; font-family: times new roman,times;"><span style="font-size: 12pt; font-family: 'Times New Roman';">*
	script
		include ../code/trogiup.lich.js
	