extends ./sinhvien_nav
block content
	.content-trogiup
		<div align="center" style="text-align: center;">
		<span style="font-family: times new roman,times; font-size: 16pt;"><strong>NỘI QUY</strong></span></div>
			<div style="text-align: center;">
				<span style="font-family: times new roman,times; font-size: 20px;"><i>Ph&ograve;ng đọc d&agrave;nh cho Nh&agrave; nghi&ecirc;n cứu v&agrave; Doanh nh&acirc;n</i></span></div>
			<div style="text-align: justify;">
				<strong><span style="font-family: times new roman,times; font-size: 20px;">1. Đối t&shy;ượng phục vụ</span></strong></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">- Phục vụ c&aacute;c Nh&agrave; nghi&ecirc;n cứu v&agrave; Doanh nh&acirc;n;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">- Sử dụng thẻ đọc tự nguyện (thẻ m&agrave;u v&agrave;ng):</span></div>
			<div>
				<ul>
					<li style="text-align: justify;">
						<span style="font-family: times new roman,times; font-size: 20px;">&nbsp;<span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Mức ph&iacute;:<strong> 120.000đ</strong> (<em><span style="font-size:18px;"><span style="font-family: times new roman,times,serif;">Một trăm hai mươi ngh&igrave;n đồng</span></span></em>) + <strong>540.000</strong>đ lệ ph&iacute; tham gia C&acirc;u lạc bộ Nh&agrave; nghi&ecirc;n cứu - Doanh nh&acirc;n</span></span></span></li>
				</ul>
			</div>
			<div style="text-align: justify;">
				<strong><span style="font-family: times new roman,times; font-size: 20px;">2. Tr&aacute;ch nhiệm v&agrave; quyền lợi của bạn đọc</span></strong></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">* Tr&aacute;ch nhiệm:</span></div>
			<div>
				<ul>
					<li style="text-align: justify;">
						<span style="font-family: times new roman,times; font-size: 20px;">Thực hiện theo nội quy chung của thư viện v&agrave; c&aacute;c quy định cụ thể của ph&ograve;ng.</span></li>
				</ul>
			</div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">* Quyền lợi:</span></div>
			<div>
				<ul>
					<li style="text-align: justify;">
						<span style="font-family: times new roman,times; font-size: 20px;">Bạn đọc được phục vụ trong kh&ocirc;ng gian đọc mở với c&aacute;c dịch vụ tiện &iacute;ch v&agrave; nhanh ch&oacute;ng miễn ph&iacute; sau:</span></li>
				</ul>
			</div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + Dịch vụ hỏi đ&aacute;p;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Phục vụ mọi y&ecirc;u cầu về th&ocirc;ng tin thư viện hiện c&oacute;;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Dịch vụ cung cấp th&ocirc;ng tin cho những đề t&agrave;i cụ thể theo y&ecirc;u cầu;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>B&aacute;o - tạp ch&iacute; h&agrave;ng ng&agrave;y đọc thư&shy; gi&atilde;n;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>S&aacute;ch tra cứu, chuy&ecirc;n khảo... tự chọn;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Internet - Wifi;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Nước uống n&oacute;ng, lạnh tại ph&ograve;ng;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>CSDL to&agrave;n văn do thư viện tạo lập: </div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ Bộ sưu tập số: H&aacute;n - N&ocirc;m cổ;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>Bộ sưu tập số: Đ&ocirc;ng Dương;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>Bộ sưu tập số: Thăng Long - H&agrave; Nội;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>Bộ sưu tập số: Luận &aacute;n tiến sĩ;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span></span>CSDL thư viện mua quyền truy cập: </div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>CSDL to&agrave;n văn từ b&ecirc;n ngo&agrave;i:</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>CSDL Keesing: CSDL b&aacute;o;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>CSDL Proquest: CSDL b&aacute;o, tạp ch&iacute;, luận văn;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; </span></span>_CSDL Igroup Publishing</span></div>
			<div style="text-align: justify;">
				<span style="font-size:18px;"><span style="font-family: times new roman,times,serif;"><span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span></span>_CSDL SAGE Journals</span></span></div>
			<div style="text-align: justify;">
				<span style="font-size:18px;"><span style="font-family: times new roman,times,serif;"><span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>_CSDL SAGE Research Methods</span></span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>CSDL Wilson: CSDL b&agrave;i trớch tạp chớ chuyờn ng&agrave;nh;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _ </span>CSDL s&aacute;ch Ch&acirc;u &Acirc;u (EBM): về thương mại quốc tế;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; _ </span>CSDL về Việt Nam: đĩa mềm, CD, DVD,&hellip;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">* C&aacute;c dịch vụ phải trả ph&iacute;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Dịch vụ đưa, fax th&ocirc;ng tin tới tận nơi theo y&ecirc;u cầu;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Dịch vụ in, scan, photocopy t&agrave;i liệu;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Dịch vụ dịch thuật;</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;"><span style="font-family: times new roman,times; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + </span>Dịch vụ caf&ecirc;, tr&agrave;.</span></div>
			<div style="text-align: justify;">
				<span style="font-family: times new roman,times; font-size: 20px;">* Ph&ograve;ng đọc doanh nh&acirc;n c&ograve;n l&agrave; nơi c&aacute;c doanh nh&acirc;n gặp gỡ, trao đổi, chia sẻ kinh nghiệm - tổ chức c&aacute;c buổi tọa đ&agrave;m nhỏ theo y&ecirc;u cầu.</span></div>
			<div style="text-align: justify;">
				<strong><span style="font-family: times new roman,times; font-size: 20px;">3. Tr&aacute;ch nhiệm của thủ thư:</span></strong></div>
			<div>
				<ul>
					<li style="text-align: justify;">
						<span style="font-family: times new roman,times; font-size: 20px;">Khi tiếp nhận c&aacute;c y&ecirc;u cầu của bạn đọc, nhanh ch&oacute;ng xử l&yacute; th&ocirc;ng tin, phối hợp với c&aacute;c bộ phận li&ecirc;n quan nhằm đ&aacute;p ứng tốt nhất c&aacute;c y&ecirc;u cầu của bạn đọc. Phục vụ bạn đọc với th&aacute;i độ th&acirc;n thiện, cởi mở tr&ecirc;n tinh thần hợp t&aacute;c.</span></li>
					<li style="text-align: justify;">
						<span style="font-family: times new roman,times; font-size: 20px;">Bảo vệ t&agrave;i sản, s&aacute;ch, b&aacute;o của Ph&ograve;ng v&agrave; nhắc nhở bạn đọc thực hiện Nội quy của đơn vị v&agrave; Nội quy của Ph&ograve;ng.</span></li>
				</ul>
			</div>

						<table align="center" class="pagenav">
						</table></div>


			<span class="article_separator">&nbsp;</span>

	script
		include ../code/trogiup.noiquy.js