extends ./sinhvien_nav
block content
	.content-trogiup
		h3(style='color:#0062cc') 
			strong Thủ tục làm thẻ thành viên
		div
			ul(style="font-size: 24px") 
				strong 1. Đối tượng được cấp thẻ thành viên:
				li(style='font-size: 20px') Sinh viên thuộc khoa công nghệ thông tin và truyền thông trường Đại học Cần Thơ.
			ul(style="font-size: 24px") 
				strong 2. Điều kiện làm thẻ thành viên trong thư viện.
				li(style='font-size: 20px') Mang theo thẻ sinh viên hoặc căn cước công dân 
				i(style='font-size: 20px') (Xin lưu ý đem theo ảnh chân dung 3x4).
			ul(style="font-size: 24px") 
				strong 3. Thời gian nhậ lại thẻ:
				li(style='font-size: 20px') Nhận lại sau khoảng 5-10 phút sau khi có đầy đủ thông tin cần thiết.
			ul(style="font-size: 24px") 
				strong 4. Lệ phí
				li(style='font-size: 20px') 50.000đ/1 thẻ
			ul(style="font-size: 24px") 
				strong 5. Những trường hợp được miễn lệ phí làm thẻ:
				li(style='font-size: 20px') Miễn phí làm thẻ đối với các đối tượng được hưởng chính sách ưu đãi.
			ul(style="font-size: 24px") 
				strong 6. Liên hệ trực tiếp bộ phận cấp thẻ
				li(style='font-size: 20px') Email: dat0620@gmail.com
				li(style='font-size: 20px') Số điện thoại: 24 – 38254938

	script
		include ../code/trogiup.thutuc.js